SERVICE_NAME=Auth_Service
PORT=3001
NODE_ENV=development
LOG_LEVEL=debug
REDIS_URL=redis://:cantremember@localhost:6379/0
DATABASE_URL=postgres://admin:cantremember@localhost:5432/vbank
TOKEN_SECRET=01aee198bd1475f54ba9fbc7663430a8e659d8755b550fcb322008f0f66d3719
TOKEN_EXPIRED=86400
SALT=12
KAFKA_BROKER=localhost:9092